.blog-container{
  padding: 15px;
  width: 90%;
  max-width: 1250px;
  height: auto;
  text-align: center;
  margin: 6% 8%;
  font-family: "Cera Round Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.blog-img {
  margin: 15px;
  width: 50%;
  height: auto;
  border-radius: 15px;
  max-width: 750px;
}

.blog-header {
  font-size: 1.8rem;
  margin: 15px 0;
}
.blog-details {
  width: 100%;
  font-size: 1.1rem;
  padding: 0% 4%;
  line-height: 1.8;
  word-spacing: 1px;
  text-align: justify;
}

.blog-lower {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.back-button{
  display: block;
}
  @media (max-width: 650px) {
    .blog-container{
      margin: 25px 0px;
      width: 100%;
      padding: 45px 10px;
    }
    .blog-header{
      font-size: 1.2rem;
    }
  .blog-details {
    width: 98%;
    font-size: 0.9rem;
    padding: 0%;
  }
  .blog-img {
    margin: 10px 0px;
    width: 80%;
  }
  
}  