.dashboard-container{
  display: grid;
  margin-top: 100px;
  align-items: center;
  justify-items: center;
  text-align: center;
}
.profilePic{
  width: 70px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 15px;
}
.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top-color: #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.error-text {
  color: red;
  font-weight: bold;
}
