@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

.app-container{
  font-family: 'Roboto', sans-serif;
  transition: transform 0.3s ease-in-out;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.all-responive-img{
  border-radius: 10px !important;
  max-height: min(300px, 60vw); /* Scales up to 600px but never exceeds 90% of viewport width */
  min-height: 150px;
  width: auto;
}
.all-p-text{
  margin: 0px;
  line-height: 1.8;
  font-size: clamp(12px, 1.5vw, 14px);
}
.all-h-text{
  margin: 0px;
  line-height: 1.8;
  font-size: clamp(14px, 1.5vw, 16px);
}


button{
  background-image: linear-gradient(to right, #ff5733 0%, #ff5733 51%, #EC6F66 100%);
  margin: 0px;
  padding: 6px 5px;
  width: 120px;
  text-align: center;
  font-size: min(12px, 14px);
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;
  box-shadow: 0 0 10px #eee;
  border-radius: 8px;
  border: none; /* No border */
  cursor: pointer; /* Makes the button clickable */
}
button:hover{
  background-position: right center;
  color: #ccc;
  text-decoration: none;
}